<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL HomeWork # 14</title>
</head>

<style>
    H1 {
        text-align: center;
        color: #BCB500;
        font-family: Segoe UI Black, monospace;
    }
    ul {
        font-family: Segoe UI Black, monospace;
        font-size:22px;
    }
    p {
        font-size:18px;
        text-align:center;
        font-family: Times New Roman, serif;
    }
</style>

<h1>Главная станица<br/>домашней работы № 14 &laquo;Знакомство с SQL&raquo;</h1>

<ul type="square">
    <b><li>Шаг 1</li></b>
    <p>Для поиска по названию фильма, добавьте в адресную строку <code>/movie/<b>title</b>/</code>, где <u>title</u> - искомое значение для названия фильма</p><br/>

    <b><li>Шаг 2</li></b>
    <p>Для поиска фильма по диапазону лет выпуска, добавьте в адресную строку <code>/movie/<b>min_year</b>/to/<b>min_year</b>/</code>, где <b>min_year</b> - начальное значение искомого года, <b>max_year</b> - конечное значение искомого года</p><br/>

    <b><li>Шаг 3</li></b>
    <p>Для поиска типа картины по рейтингу, добавьте в адресную строку <code>/rating/<b>children</b>/</code>, где <u>children</u> - фильтр типов картин по жанру для детей,
    <u>family</u> - фильтр типов картин по жанру для семейного просмотра, <u>adult</u> - фильтр типов картин по жанру для взрослых</p><br/>

    <b><li>Шаг 4</li></b>
    <p>Для поиска 10 самых свежих фильмов по жанру, добавьте в адресную строку <code>/genre/<b>genre</b>/</code>, где <u>genre</u> - интересующий жанр фильма</p><br/>

    <b><li>Шаг 5</li></b>
    <p>Проверяет имена двух актеров, которые сыграли вместе более двух раз и выводит в консоль. Данные для проверки подготовлены в файле <b>main.py</b></p><br/>

    <b><li>Шаг 6</li></b>
    <p>Проверяет тип картины, ее год выпуска и жанр и выводит все в формате JSON-файла в консоль. Данные для проверки подготовлены в файле <b>main.py</b></p><br/>
</ul>

</body>
</html>